<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4xdE175yc7XOGvq6RG52Ts-NaZHROP3k</string>
	<key>GCM_SENDER_ID</key>
	<string>1025304285828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterArkTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nanajuuksur-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>nanajuuksur-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025304285828:ios:4b7776a5af7a83a124a8d1</string>
</dict>
</plist>